<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright 2024 Mifos Initiative

    This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
    If a copy of the MPL was not distributed with this file,
    You can obtain one at https://mozilla.org/MPL/2.0/.

    See https://github.com/openMF/mobile-mobile/blob/master/LICENSE.md
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
    Firebase automatically adds the AD_ID permission, even though we don't use it. If you use this
    permission you must declare how you're using it to Google Play, otherwise the app will be
    rejected when publishing it. To avoid this we remove the permission entirely.
    -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name=".AndroidApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MifosSplash">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MifosSplash"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileproviderpath" />
        </provider>

        <!-- Prompt Google Play services to install the backported photo picker module -->
        <service android:name="com.google.android.gms.metadata.ModuleDependencies" android:enabled="false" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>

            <meta-data android:name="photopicker_activity:0:required" android:value="" />
        </service>

        <!-- Disable Firebase analytics by default. This setting is overwritten for the `prod` flavor -->
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />
        <!-- Disable collection of AD_ID for all build variants -->
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
        <!-- Firebase automatically adds the following property which we don't use so remove it -->
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            tools:node="remove" />
    </application>

</manifest>