<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.mifos.mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MifosSelfServiceApp"
        android:allowBackup="true"
        android:icon="@mipmap/mifos_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.guarantor.GuarantorActivity"
            android:exported="false"
            android:label="@string/title_activity_guarantor"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.HomeActivity"
            android:configChanges="screenLayout|screenSize|orientation"
            android:label="@string/home"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.SavingsAccountContainerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/saving_account_details"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.PassCodeActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.LoanAccountContainerActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.user_profile.UserProfileActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.registration.RegistrationActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.LoanApplicationActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.AccountOverviewActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.NotificationActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.AddBeneficiaryActivity"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.EditUserDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.SavingsAccountApplicationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.about.AboutUsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.help.HelpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.PrivacyPolicyActivity"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".ui.widgets.ChargeAppWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/charge_app_widget_info" />
        </receiver>

        <service
            android:name=".ui.widgets.ChargeWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.mifos.mobile.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileproviderpath" />
        </provider>

        <service
            android:name=".utils.fcm.MifosFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.fcm.RegistrationIntentService"
            android:exported="false" />

        <activity android:name=".ui.activities.SettingsActivity" />
    </application>

</manifest>