<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mifos.selfserviceapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MifosSelfServiceApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MaterialAppTheme">
        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.HomeActivity"
            android:label="@string/accounts"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.SavingAccountsDetailActivity"
            android:label="@string/saving_account_details"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activities.LoanAccountsDetailActivity"
            android:label="@string/loan_account_details"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
