<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.mifos.mobile">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mifos_icon"
        android:label="@string/app_name"
        android:name="org.mifos.mobile.MifosSelfServiceApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:name="org.mifos.mobile.ui.activities.LoginActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name="org.mifos.mobile.ui.activities.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:configChanges="screenLayout|screenSize|orientation"
            android:label="@string/home"
            android:name="org.mifos.mobile.ui.activities.HomeActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:configChanges="orientation|screenSize"
            android:label="@string/saving_account_details"
            android:name="org.mifos.mobile.ui.activities.SavingsAccountContainerActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:configChanges="orientation|screenSize"
                  android:launchMode="singleTask"
                  android:name="org.mifos.mobile.ui.activities.PassCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:configChanges="orientation|screenSize"
                  android:name="org.mifos.mobile.ui.activities.LoanAccountContainerActivity"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:configChanges="orientation|screenSize"
                  android:name="org.mifos.mobile.ui.activities.UserProfileActivity"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:configChanges="orientation|screenSize"
                  android:name="org.mifos.mobile.ui.activities.RegistrationActivity"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:configChanges="orientation|screenSize"
                  android:name="org.mifos.mobile.ui.activities.LoanApplicationActivity"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:configChanges="orientation|screenSize"
                  android:name="org.mifos.mobile.ui.activities.AccountOverviewActivity"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:configChanges="orientation|screenSize"
                  android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:configChanges="orientation|screenSize"
                  android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:configChanges="orientation|screenSize"
                  android:name="org.mifos.mobile.ui.activities.NotificationActivity"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:screenOrientation="sensor"
                  android:name="org.mifos.mobile.ui.activities.AddBeneficiaryActivity"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:name="org.mifos.mobile.ui.activities.EditUserDetailActivity"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:name="org.mifos.mobile.ui.activities.SavingsAccountApplicationActivity"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:name="org.mifos.mobile.ui.activities.AboutUsActivity"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:name="org.mifos.mobile.ui.activities.HelpActivity"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:name="org.mifos.mobile.ui.activities.PrivacyPolicyActivity"
                  android:windowSoftInputMode="adjustResize"/>

        <receiver android:name="org.mifos.mobile.ui.widgets.ChargeAppWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/charge_app_widget_info"/>
        </receiver>

        <service android:name="org.mifos.mobile.ui.widgets.ChargeWidgetService"
                 android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <provider
            android:authorities="org.mifos.mobile.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:name="androidx.core.content.FileProvider">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileproviderpath"/>
        </provider>

        <service
            android:exported="false"
            android:name=".utils.fcm.MifosFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:exported="false"
            android:name="org.mifos.mobile.utils.fcm.RegistrationIntentService">
        </service>

        <activity android:name="org.mifos.mobile.ui.activities.SettingsActivity"/>
    </application>

</manifest>
